<html>
<body>

<a href="{{url "admin-update-feed"}}?f={{.Feed.Url}}">update</a>

<p>feed:
<ul style="text-align: right;">
	<li>url: {{.Feed.Url}}</li>
	<li>img: {{.Feed.Image}}</li>
	<li>img: <img src="{{.Feed.Image}}"></li>
	<li>title: {{.Feed.Title}}</li>
	<li>now: {{.Now}}</li>
	<li>updated: {{.Feed.Updated}}</li>
	<li>date: {{.Feed.Date}}</li>
	<li>checked: {{.Feed.Checked}}</li>
	<li>next: {{.Feed.NextUpdate}}</li>
	<li>subscribed: {{.Feed.Subscribed}}</li>
	<li>average: {{.Feed.Average}}</li>
	<li>link: {{.Feed.Link}}</li>
	<li>errors: {{.Feed.Errors}}</li>
	<li><a href="https://pubsubhubbub.appspot.com/subscription-details?hub.callback={{.Feed.PubSubURL}}&hub.topic={{.Feed.Url}}">pubsub</a></li>
</ul>

stories:
<ul>
{{range .Stories}}
	<li>
		{{.Id}}
		{{.Created}}
		{{.Title}}
	</li>
{{end}}
</ul>

</body>
</html>
