<!DOCTYPE html>
<html lang="en" ng-app="goReadApp">
<head>
	<title>go read</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{.BootstrapCss}}" rel="stylesheet">
	<style>
		.ng-cloak {
			display: none;
		}
		body {
			padding-top: 40px;
		}
		.hand {
			cursor: hand;
			cursor: pointer;
		}
		#nav-right {
			position: absolute;
			right: 0;
			left: auto;
		}
		li .btn-group + .btn-group {
			margin-left: 0;
		}
		.nav li .btn-group .dropdown-toggle .caret {
			border-top-color: #777;
			border-bottom-color: #777;
		}
		.story {
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #fff;
		}
		.story.selected {
			border-left: 1px solid #0088cc;
		}
		.story-header {
			position: relative;
			padding-left: 155px;
			padding-right: 120px;
			width: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 33px;
			line-height: 33px;
			font-size: 13px;
		}
		.story-title, .feed-title, .folder-title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.story-header.read .story-title strong {
			font-weight: normal !important;
		}
		.story-link {
			color: #333;
		}
		.feed-title, .folder-title {
			padding: 2px;
		}
		.feed-title:hover, .folder-title:hover {
			background-color: #eee;
		}
		.story-header.read {
			background-color: #f5f5f5;
		}
		.story-feed {
			width: 145px;
			overflow: hidden;
			text-overflow: ellipsis;
			position: absolute;
			white-space: nowrap;
			left: 5px;
		}
		.story-date {
			position: absolute;
			right: 5px;
			top: 0;
		}
		.story-content h3 {
			margin: 0;
			margin-top: 4px;
			line-height: 24px;
		}
		.story-content {
			margin: 0.5em;
		}
		.story-content.short {
			max-width: 650px;
		}
		.story-footer {
			background-color: #f5f5f5;
			padding-left: 7px;
			height: 25px;
		}
		.story-footer a {
			color: #333;
			text-decoration: none;
		}
		.form-inline {
			display:inline-block;
		}
		.active-name {
			font-weight: bold;
			padding: 10px 0;
		}
		#story-list {
			position: absolute;
			left: 245px;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			top: 40px;
			bottom: 0;
			right: 0;
		}
		#story-list.no-nav {
			left: 20px;
		}
		#story-list .config {
			margin-right: 20px;
		}
		#feed-list {
			position: absolute;
			font-size: 13px;
			width: 220px;
			top: 40px;
			bottom: 0;
			overflow: hidden;
			left: 20px;
			padding-top: 10px;
		}
		#feed-list:hover {
			overflow-y: auto;
		}
		.active {
			color: #d14;
		}
		.feed-child {
			margin-left: 20px;
		}
		.feed-icon {
			width: 16px;
			height: 16px;
		}
		.all-subs {
			font-weight: bold;
			padding: 5px 0;
		}
		.top-margin {
			margin-top: 20px;
		}
		a.brand {
			background-image: url("/static/icon.png");
			background-repeat: no-repeat;
			background-position: 20px 7px;
			background-size: 24px;
			padding-left: 54px !important;
		}
		.bold {
			font-weight: bold;
		}
		#story-list::-webkit-scrollbar { width: 8px; height: 8px }
		#story-list::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
		#story-list::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
		#feed-list::-webkit-scrollbar { width: 8px; }
		#feed-list::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
		#feed-list::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
		@media (max-width: 979px) {
			body {
				padding-top: 0;
			}
			body, .story-header, .story-content, .btn {
				font-size: 14px;
			}
			#nav-right {
				position: relative;
				left: 0;
				right: auto;
			}
			a.brand {
				background-position: 0px 7px;
				padding-left: 34px !important;
				margin-left: -4px !important;
			}
			.navbar-fixed-top {
				margin-bottom: 0;
			}
			#feed-list {
				display: none;
			}
			#story-list {
				position: static;
				margin-left: -19px;
				margin-right: -19px;
			}
			.story-header {
				padding: 0;
				height: 43px;
				line-height: 43px;
			}
		}
	</style>
	<link rel="shortcut icon" href="/static/favicon.png">
</head>
<body ng-controller="GoreadCtrl" class="ng-cloak">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="container-fluid">
				<a class="brand" href="{{url "main"}}">go read</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li ng-class="{active: shown == 'about'}"><a href="#" ng-click="shown = 'about'">about</a></li>
					{{if .User}}
						<li ng-class="{active: shown == 'feeds'}" ng-init="shown = 'feeds'"><a href="#" ng-click="shown = 'feeds'; setActiveFeed();">feeds</a></li>
						<li ng-click="shown = 'feeds'" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span ng-show="opts.mode == 'unread'">{{`{{unread.current || 'no'}}`}} unread items</span>
								<span ng-hide="opts.mode == 'unread'">all items</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-show="opts.mode != 'unread'" ng-click="setMode('unread')">{{`{{unread.current || 'no'}}`}} unread items</a></li>
								<li><a href="#" ng-hide="opts.mode != 'unread'" ng-click="setMode('all')">all items</a></li>
							</ul>
						</li>
						<li>
							<button
								id="mark-all-read"
								class="btn btn-small"
								ng-click="markAllRead()"
								ng-disabled="stories.length == 0"
								data-url="{{url "mark-all-read"}}"
								data-url-read="{{url "mark-read"}}"
								data-url-unread="{{url "mark-unread"}}"
								data-url-contents="{{url "get-contents"}}"
								>mark all as read</button>
							<button
								id="refresh"
								class="btn btn-small"
								ng-click="refresh()"
								data-url-feeds="{{url "list-feeds"}}"
								><i class="icon-refresh"></i></button>
							<div class="btn-group">
								<button class="btn btn-small" ng-click="next()" ng-disabled="stories.length == 0"><i class="icon-chevron-down"></i></button>
								<button class="btn btn-small" ng-click="prev()" ng-disabled="stories.length == 0"><i class="icon-chevron-up"></i></button>
							</div>
							<div class="btn-group">
								<button class="btn btn-small" ng-click="toggleExpanded()" ng-disabled="opts.expanded"><i class="icon-th-list"></i></button>
								<button class="btn btn-small" ng-click="toggleExpanded()" ng-disabled="!opts.expanded"><i class="icon-align-justify"></i></button>
							</div>
							<div class="btn-group">
								<a href="#" class="btn btn-small dropdown-toggle" data-toggle="dropdown">
									view
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#" ng-click="setSort('newest')">
										sort by newest
										<i class="icon-ok" ng-show="opts.sort != 'oldest'"></i>
									</a></li>
									<li><a href="#" ng-click="setSort('oldest')">
										sort by oldest
										<i class="icon-ok" ng-show="opts.sort == 'oldest'"></i>
									</a></li>
									<li class="divider"></li>
									<li><a href="#" ng-click="toggleHideEmpty()">
										hide empty feeds/folders <i ng-show="opts.hideEmpty" class="icon-ok"></i></a>
									</li>
									<li><a href="#" ng-click="toggleScrollRead()">
										mark as read on scroll <i ng-show="opts.scrollRead" class="icon-ok"></i></a>
									</li>
									<li><a href="#" ng-click="toggleNav()">
										show left hand side module <i ng-show="opts.nav" class="icon-ok"></i></a>
									</li>
								</ul>
							</div>
						</li>
						<li><a ng-show="loading" style="position: absolute">loading...</a></li>
					{{end}}
					</ul>
					<ul class="nav pull-right" id="nav-right">
					{{if .IsAdmin}}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								admin
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url "all-feeds-opml"}}">all feeds opml</a></li>
								<li><a href="{{ url "all-feeds"}}">all feeds</a></li>
								<li><a href="{{ url "admin-date-formats"}}">date formats</a></li>
								<li><a href="{{ url "admin-stats"}}">stats</a></li>
							</ul>
						</li>
					{{end}}
					{{if .User}}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{{.User}}
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{{if .StripeKey}}
								<li><a href="#" ng-click="getAccount()">account</a></li>
								{{end}}
								<li><a href="#" ng-click="setAddSubscription()">add subscription</a></li>
								<li><a href="#" ng-click="shown = 'import-opml'">import opml</a></li>
								<li class="divider"></li>
								<li><a href="https://go-read.appspot.com/">goread over HTTPS</a></li>
								<li><a href="{{url "export-opml"}}">export opml</a></li>
								<li><a href="{{url "logout"}}">logout</a></li>
								<li class="divider"></li>
								<li><a href="#" ng-click="clearFeeds()">clear feeds</a></li>
								<li><a href="#" data-url="{{url "delete-account"}}" id="delete-account" ng-click="deleteAccount()">delete account</a></li>
							</ul>
						</li>
					{{else}}
						<li><a href="{{url "login-google"}}">sign up / log in</a></li>
					{{end}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		{{if and .User .StripeKey}}
		<div
			class="row-fluid top-margin"
			ng-show="shown == 'account'"
			id="account"
			data-url-charge="{{url "charge"}}"
			data-url-donate="{{url "donate"}}"
			data-url-account="{{url "account"}}"
			data-url-uncheckout="{{url "uncheckout"}}"
			data-stripe-key="{{.StripeKey}}"
			ng-init="accountType = {{.User.Account}}"
			>
			<div class="offset3 span6">
				<h1>Account</h1>
				<p>Go Read is supported by user subscriptions. Without them, we cannot pay for our servers.</p>
				<div ng-hide="accountType">
					<div>
						{{range .StripePlans}}
						<button
							class="btn btn-primary btn-large"
							ng-click="checkout('{{.Id}}', '{{.Desc}}', {{.Amount}})"
							data-loading-text="Working..."
							id="button{{.Id}}"
							>Subscribe for {{.Name}}</button>
						{{end}}
					</div>
					<br>
					<a href="https://stripe.com" target="_blank"><img src="/static/img/stripe.png"></a>
					<h3>Reasons to subscribe</h3>
					<ul>
						<li>higher feed update frequency</li>
						<li>funding for new features:
							<ul>
								<li>search</li>
								<li>all items mode for everything, not just one feed</li>
								<li>HTTPS</li>
								<li>others</li>
							</ul>
						</li>
						<li>Go Read servers cost money - without subscriptions we cannot stay online</li>
						<li>Some future features will be subscriber-only</li>
					</ul>
				</div>
				<div ng-show="accountType">
					<h3>Subscribed on <span ng-bind="date(account.Created)"></span></h3>
					<h5>Next payment:
						<span ng-show="account">
							${{`{{account.Amount/100}}`}} on {{`{{date(account.Next)}}`}}, recurring each {{`{{account.Interval}}`}}
						</span>
					</h5>
					<button class="btn" ng-click="unCheckout()" data-loading-text="Working..." id="uncheckoutButton">Unsubscribe</button>
				</div>
				<div>
					<h3>Donation</h3>
					<p>Want to spend more than $3?</p>
						<form class="form-inline">
						<div class="input-prepend input-append">
							<span class="add-on">$</span>
							<input type="number" class="input-small" ng-model="donateAmount" min="2" ng-init="donateAmount = 5">
						</div>
						<button
							class="btn btn-success"
							ng-click="donate()"
							id="donateButton"
							data-loading-text="Working..."
							>Donate
						</button>
						</form>
					<p>Some features have unavoidable costs, and won't be implemented until they are sustainable. For example, HTTPS requires purchase of certificates and other costs. Donations help fund these features faster. Donations do not mark your account as a subscriber - they are just a way to donate.</p>
				</div>
			</div>
		</div>
		{{end}}
		<div class="row-fluid top-margin" ng-show="shown == 'about'">
			<div class="offset3 span6">
				<h1>About</h1>
				<p>Go Read is a web-based RSS reader.</p>
				<p>It is designed to be as useful as Google Reader.</p>
				<p>
					Built by <a href="http://mattjibson.com">Matt Jibson</a>.
					Runs on <a href="https://developers.google.com/appengine/">Google App Engine</a>.
					Powered by <a href="http://golang.org/">Go</a> and <a href="http://angularjs.org/">AngularJS</a>.
					Code on <a href="https://github.com/mjibson/goread">GitHub</a>.
				</p>
				<h1>Help</h1>
				<p>Problems? Try one of these:</p>
				<p>Tweet me <a href="https://twitter.com/mjibson">@mjibson</a></p>
				<p>Email me at <a href="mailto:matt.jibson@gmail.com">matt.jibson@gmail.com</a></p>
				<p>Submit a <a href="https://github.com/mjibson/goread/issues">GitHub issue</a></p>
				<h1>FAQ</h1>
				<p>
					<strong>Are there keyboard shortcuts?</strong>
					Yes, press <button class="btn" ng-click="shortcuts.modal('toggle')">?</button>.
				</p>
				<p>
					<strong>What is on your todo list?</strong>
					Check the <a href="https://github.com/mjibson/goread/issues">GitHub issues</a> page.
				</p>
				<p>
					<strong>Is there a bookmarklet/submit URL?</strong>
					Drag this link to your browser toolbar:
					<h4><a href="javascript:window.location=%22http://www.goread.io/user/add-subscription?url=%22+encodeURIComponent(document.location)">add to go read</a></h4>
					Or submit to <code>http://www.goread.io/user/add-subscription?url=%s</code> where <code>%s</code> is the feed URL.
					Firefox users can <a href="#" ng-click="registerHandler()">register go read as an RSS reader</a>.
				</p>
			</div>
		</div>

		{{if .User}}
		<div class="row-fluid" ng-init="refresh()">
			<div ng-show="opts.nav && !nothing() && shown == 'feeds'" id="feed-list">
				<ul class="unstyled">
					<li>
						<button class="btn btn-primary" ng-click="setAddSubscription()">subscribe</button>
					<li>
					<li class="all-subs hand" ng-click="setActiveFeed()" ng-class="{active: !activeFeed && !activeFolder}" ng-hide="loading">
						all items ({{`{{unread.all || 0}}`}})
					</li>
					<li class="all-subs" ng-show="loading">loading...</li>
				</ul>
				<ul class="unstyled" ui-sortable="sortableOptions" ng-model="feeds">
					<li ng-repeat="f in feeds" ng-hide="shouldHideEmpty(f)">
						<div class="hand feed-title" ng-class="{active: activeFeed == f.XmlUrl}" ng-hide="f.Outline" ng-click="setActiveFeed(f.XmlUrl)" title="{{`{{f.Title}}`}}">
							<img {{htmlattr `ng-src="{{icons[f.XmlUrl] || '/static/img/feed.png'}}"`}} class="feed-icon">
							<span ng-class="{bold: unread['feeds'][f.XmlUrl]}" ng-bind="f.Title" dir="auto"></span>
							<span ng-show="unread['feeds'][f.XmlUrl]">
								({{`{{unread['feeds'][f.XmlUrl]}}`}})
							</span>
						</div>
						<div ng-show="f.Outline">
							<div class="hand folder-title" ng-class="{active: activeFolder == f.Title}" ng-show="f.Outline" ng-click="setActiveFolder(f.Title)" title="{{`{{f.Title}}`}}">
								<i class="icon-folder-open hand" ng-hide="opts.folderClose[f.Title]" ng-click="opts.folderClose[f.Title] = true; saveOpts(); $event.stopPropagation()"></i>
								<i class="icon-folder-close hand" ng-show="opts.folderClose[f.Title]" ng-click="opts.folderClose[f.Title] = false; saveOpts(); $event.stopPropagation()"></i>
								<span ng-class="{bold: unread['folders'][f.Title]}" ng-bind="f.Title"></span>
								<span ng-show="unread['folders'][f.Title]">
									({{`{{unread['folders'][f.Title]}}`}})
								</span>
							</div>
							<ul class="unstyled" ng-hide="opts.folderClose[f.Title]" ui-sortable="sortableOptions" ng-model="f.Outline">
								<li ng-repeat="o in f.Outline" ng-hide="shouldHideEmpty(o)">
									<div class="hand feed-title feed-child" ng-class="{active: activeFeed == o.XmlUrl}" ng-click="setActiveFeed(o.XmlUrl)" title="{{`{{o.Title}}`}}">
										<img {{htmlattr `ng-src="{{icons[o.XmlUrl] || '/static/img/feed.png'}}"`}} class="feed-icon hand">
										<span ng-class="{bold: unread['feeds'][o.XmlUrl]}" ng-bind="o.Title"></span>
										<span ng-show="unread['feeds'][o.XmlUrl]">
											({{`{{unread['feeds'][o.XmlUrl]}}`}})
										</span>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				{{if .StripeKey}}
				<ul class="unstyled" ng-hide="accountType">
					<li><button class="btn btn-success" ng-click="getAccount()">upgrade</button></li>
					<li>to keep Go Read alive</li>
				</ul>
				{{end}}
			</div>

			<div
				ng-show="loading == 0 && shown == 'feeds' && numfeeds"
				ng-class="navspan()"
				ng-style="navmargin()"
				id="story-list"
				data-url-upload="{{url "upload-opml"}}"
				data-url-options="{{url "save-options"}}"
				data-url-get-feed="{{url "get-feed"}}"
			>
				<div class="active-name story">
					<span ng-hide="activeFeed || activeFolder" ng-bind="active()"></span>
					<div ng-show="activeFolder">
						<span ng-bind="activeFolder"></span>
						<div class="pull-right btn-group config">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="renameFolder(activeFolder)">rename</a></li>
								<li><a href="#" ng-click="deleteFolder(activeFolder)">delete</a></li>
							</ul>
						</div>
					</div>
					<div ng-show="activeFeed">
						<a ng-href="{{`{{xmlurls[activeFeed].HtmlUrl || ''}}`}}" style="color: #333" target="_blank">
							{{`{{active()}}`}} »
						</a>
						<div class="pull-right btn-group config">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="rename(activeFeed)">rename</a></li>
								<li><a href="#" ng-click="unsubscribe(activeFeed)">unsubscribe</a></li>
								{{if .IsAdmin}}
									<li><a ng-href="{{url "admin-feed"}}?f={{`{{encode(activeFeed)}}`}}">admin</a></li>
								{{end}}
								<li class="divider"></li>
								<li class="dropdown-submenu pull-left">
									<a tabindex="-1" href="#">move to folder</a>
									<ul class="dropdown-menu">
										<li><a href="#" ng-click="moveFeed(activeFeed)">[root]</a></li>
										<li ng-repeat="(f, _) in unread.folders">
											<a href="#" ng-bind="f" ng-click="moveFeed(activeFeed, f)"></a>
										</li>
										<li><a href="#" ng-click="moveFeedNew(activeFeed)">[new folder]</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div
					ng-repeat="s in dispStories | limitTo:dispLimit"
					class="story"
					ng-mouseenter="overContents(s)"
					ng-mouseleave="leaveContents(s)"
					id="storydiv{{`{{$index}}`}}"
					ng-class="{selected: $index == currentStory}"
				>
					<div class="story-header hand" ng-class="{read: s.read}">
						<div class="story-feed muted visible-desktop" ng-click="setCurrent($index, false, true)" ng-bind="s.feed.Title"></div>
						<div class="story-title" ng-click="setCurrent($index, false, true)" title="{{`{{s.Title}}`}}" dir="auto">
							<a ng-href="{{`{{s.Link}}`}}" ng-click="setCurrent($index, false, true, $event); $event.stopPropagation()" class="story-link"><strong ng-bind="s.Title"></strong></a>
							<span class="story-summary muted" ng-show="s.Summary" ng-bind="'- ' + s.Summary"></span>
						</div>
						<div class="story-date muted visible-desktop">
							<span ng-bind="s.dispdate" ng-click="setCurrent($index, false, true)"></span>
							<a ng-href="{{`{{s.Link}}`}}" target="_blank" ng-click="setCurrent($index, false, true, null, true)"><i class="icon-share-alt"></i></a>
						</div>
					</div>
					<div ng-show="($index == currentStory || (opts.expanded && !collapsed)) && (opts.expanded || !storyCollapse)">
						<div class="story-content" ng-click="setCurrent($index, true, true)" ng-class="{short: opts.nav}">
							<h3 dir="auto"><a ng-href="{{`{{s.Link}}`}}" target="_blank" ng-bind="s.Title"></a></h3>
							<p><small>
								from <a ng-href="{{`{{s.feed.HtmlUrl}}`}}" ng-bind="s.feed.Title" target="_blank"></a>
								<span ng-show="s.Author">by {{`{{s.Author}}`}}</span>
							</small></p>
							<div ng-switch on="$index == currentStory || (opts.expanded && !collapsed)">
								<div ng-switch-when="true">
									<div ng-bind-html-unsafe="contents[s.guid]" class="clearfix" dir="auto"></div>
									<div ng-show="s.MediaContent" ng-switch on="s.MediaContent != undefined">
										<div ng-switch-when="true">
											<audio {{htmlattr `ng-src="{{s.MediaContent}}"`}} controls="controls"></audio>
											<a {{htmlattr `ng-href="{{s.MediaContent}}"`}} target="_blank">Original audio source</a>
										</div>
									</div>
									{{if .GoogleAd}}
									<div class="google-ad">{{.GoogleAd}}</div>
									{{end}}
								</div>
							</div>
						</div>
						<div class="story-footer">
							<ul class="inline">
								<li style="vertical-align: middle">
									<a target="_blank" ng-href="mailto:?subject={{`{{s.Title | encodeURI}}`}}&body={{`{{s.Link | encodeURI}}`}}">
										<i class="icon-envelope"></i>
										email
									</a>
								</li>
								<li style="vertical-align: middle">
									<a target="_blank" ng-href="https://twitter.com/intent/tweet?text={{`{{s.Title | encodeURI}}`}}&url={{`{{s.Link | encodeURI}}`}}">
										<i class="icon-retweet"></i>
										tweet
									</a>
								</li>
								<li style="vertical-align: middle">
									<a target="_blank" ng-href="http://www.tumblr.com/share/link?url={{`{{s.Link | encodeURI}}`}}&name={{`{{s.Title | encodeURI}}`}}">
										share on Tumblr
									</a>
								</li>
								<li style="vertical-align: middle">
									<a target="_blank" ng-href="http://www.instapaper.com/hello2?url={{`{{s.Link | encodeURI}}`}}&title={{`{{s.Title | encodeURI}}`}}">
										save to Instapaper
									</a>
								</li>
								<li ng-show="s.canUnread">
									<form class="form-inline">
										<label class="checkbox" ng-click="$event.stopPropagation()">
											<input type="checkbox" ng-model="s.Unread" ng-change="markUnread(s)">
											keep unread
										</label>
									</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div ng-show="loading == 0 && shown == 'feeds' && numfeeds && dispStories.length == 0" class="top-margin">
					<div class="offset2 span8">
						<div class="hero-unit">
							<p class="text-center" ng-show="!activeFeed && !activeFolder">Your reading list has no unread items.</p>
							<p class="text-center" ng-show="activeFolder">You have no unread &quot;{{`{{activeFolder}}`}}&quot; items.</p>
							<div ng-show="activeFeed">
								<p class="text-center">&quot;{{`{{xmlurls[activeFeed].Title}}`}}&quot; has no unread items.</p>
								<p class="text-center"><a href="#" ng-click="setMode('all')"><small>View all items</small></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="nothing()" class="row-fluid top-margin">
			<div class="offset2 span8">
				<p>You don't have any feeds.</p>
				<p>Add some, or upload an OPML file.</p>
			</div>
		</div>

		<div class="row-fluid top-margin" ng-show="shown == 'add-subscription' || nothing()">
			<div class="offset2 span8">
				<form id="add-subscription-form" data-url="{{url "add-subscription"}}">
					<fieldset>
						<legend>Feed URL</legend>
						<input type="text" class="span12" ng-model="addFeedUrl">
						<p><button ng-click="addSubscription($event)" data-loading-text="importing.." class="btn">import</button></p>
					</fieldset>
				</form>
			</div>
		</div>

		<div class="row-fluid top-margin" ng-show="shown == 'import-opml' || nothing()">
			<div class="offset2 span8">
				<form id="import-opml-form" enctype="multipart/form-data" method="POST" action="{{url "import-opml"}}">
					<fieldset>
						<legend>Upload OPML file</legend>
						<input type="file" name="file">
						<p><button ng-click="importOpml()" type="submit" class="btn">upload</button></p>
					</fieldset>
				</form>
			</div>
		</div>
		{{else}}
			<div class="row-fluid top-margin" ng-init="nouser = true">
				<div class="offset1 span10" ng-hide="shown">
					<div class="hero-unit">
						<h1>Hi, RSS user</h1>
						<p>Go Read is a web-based RSS reader.</p>
						<p>It is designed to be as useful as Google Reader.</p>
						<p><a class="btn btn-primary btn-large" href="{{url "login-google"}}">sign up / log in with google</a></p>
						<p class="alert alert-info">We've just released! Read the <strong><a href="http://mattjibson.com/blog/2013/06/26/go-read-open-source-google-reader-clone/">blog post</a></strong> about it.</p>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<ul class="thumbnails">
					<li class="offset1 span5">
						<div class="thumbnail">
							<div class="caption">
								<h3>features</h3>
								<ul>
									<li>import from Google Reader or OPML</li>
									<li>same keyboard shortcuts as Google Reader</li>
									<li>fast, snappy, and clean</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="span5">
						<div class="thumbnail">
							<div class="caption">
								<h3>recent updates</h3>
								<ul>
									<li>07/22: n/p and o/enter shortcuts</li>
									<li>07/14: keep stories unread</li>
									<li>07/10: correctly determine unread stories; allow subscriptions with stripe</li>
									<li>07/07: mark items read on scroll; podcast support</li>
									<li>07/03: improved OPML support; middle click story titles to open; fixed the &quot;no feeds show up&quot; bug; numerous bug fixes and tweaks</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="row-fluid hidden-phone">
				<div class="offset1 span10">
					<h2>Screenshot</h2>
					<p class="text-center"><a href="/static/img/preview.png"><img class="img-polaroid" src="/static/img/preview.png" alt="screenshot"></a></p>
				</div>
			</div>
		{{end}}
	</div>

	<div id="shortcuts" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4>keyboard shortcuts</h4>
		</div>
		<div class="modal-body">
			<ul class="unstyled">
				<li><button class="btn btn-small">j/k</button> selects the next/previous item in the list</li>
				<li><button class="btn btn-small">n/p</button> in list view, selects the next item without opening it</li>
				<li><button class="btn btn-small">o</button> in list view, expands or collapses the selected item</li>
				<li><button class="btn btn-small">enter</button> in list view, expands or collapses the selected item</li>
				<li><button class="btn btn-small">r</button> refresh</li>
				<li><button class="btn btn-small">space</button> next item</li>
				<li><button class="btn btn-small">&lt;Shift&gt; + space</button> previous item</li>
				<li><button class="btn btn-small">v</button> view original</li>
				<li><button class="btn btn-small">b</button> view original in new background tab</li>
				<li><button class="btn btn-small">&lt;Shift&gt; + a</button> mark all as read</li>
				<li><button class="btn btn-small">a</button> add subscription</li>
				<li><button class="btn btn-small">g</button> then <button class="btn btn-small">a</button> go to all items</li>
				<li><button class="btn btn-small">u</button> hides/unhides the left hand side module</li>
				<li><button class="btn btn-small">1</button> switch to expanded view</li>
				<li><button class="btn btn-small">2</button> switch to list view</li>
				<li><button class="btn btn-small">m</button> mark as read/unread</li>
			</ul>
		</div>
	</div>

	<div id="messages" class="modal hide" data-show="{{if .Messages}}true{{end}}">
		<div class="modal-body">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div id="message-list">
				{{range .Messages}}
					<p>{{.}}</p>
				{{end}}
				</div>
		</div>
	</div>

	<script src="{{.Jquery}}"></script>
	<script src="{{.JqueryUI}}"></script>
	<script src="{{.Underscore}}"></script>
	<script src="{{.BootstrapJs}}"></script>
	<script src="/static/js/jquery.form.js"></script>
	<script src="/static/js/mousetrap.min.js"></script>
	<script src="{{.Angular}}"></script>
	<script src="/static/js/sortable.js"></script>
	<script src="/static/js/moment.min.js"></script>
	<script src="/static/js/site.js"></script>

	{{.MiniProfiler}}

	{{if .GoogleAnalyticsId}}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '{{.GoogleAnalyticsId}}', '{{.GoogleAnalyticsHost}}');
		ga('send', 'pageview');
	</script>
	{{end}}

	{{if .IsDev}}
		<script type="text/javascript">
			Mousetrap.bind('c', function() {
				window.location.replace("{{url "clear-feeds"}}");
			});
		</script>
	{{end}}
	{{if .IsAdmin}}
		<script type="text/javascript">
			Mousetrap.bind('y', function() {
				angular.element(document.body).scope().setYesterday();
			});
		</script>
	{{end}}
</body>
</html>
