package goapp

import (
	"appengine"
	"time"
)

var (
	ENABLE_PUBSUBHUBBUB bool = !appengine.IsDevAppServer()
	STRIPE_PLANS             = []Plan{}
)

const (
	GOOGLE_ANALYTICS_ID   = ""
	GOOGLE_ANALYTICS_HOST = ""
	PUBSUBHUBBUB_HUB      = "http://pubsubhubbub.appspot.com"
	PUBSUBHUBBUB_HOST     = "" // e.g., "www.goread.io"
	STRIPE_KEY            = ""
	STRIPE_SECRET         = ""
	STRIPE_PLAN           = ""
	GOOGLE_AD             = ""
	GOOGLE_AD_TALL        = ""
)

const (
	UpdateMin         = time.Minute * 20
	UpdateMax         = time.Hour * 12
	UpdateDefault     = time.Hour * 3
	UpdateFraction    = 0.5
	UpdateJitter      = time.Minute * 3
	UpdateLongFactor  = 20
	NewIntervalWeight = 0.2
)
